<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" type="text/css" href="assets/libs.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<nav class="top-nav">
    <a href="/">HOME</a>
</nav>
<div class="content"></div>

{# Templates for index page (albums list)#}
<script type="text/template" id="album-view">
  <h3><a href="/#album/<%= id %>"><%= title %></a></h3>

  <% _.each(images, function(i) { %>
      <a class="fancy" rel="fancy-group-<%= id %>" href="<%= i.path %>" title="<%= i.title %>">
          <img alt="<%= i.title %>" src="<%= i.thumbnail %>" />
      </a>
  <% }); %>
</script>

{# Templates for album view with imeges list #}
<script type="text/template" id="album-view-layout">
    <div class="album-info"></div>
    <div class="images-list"></div>
</script>

<script type="text/template" id="album-info-view">
    <h2><%= title %></h2>
</script>

<script type="text/template" id="album-images-template">
    <% _.each(items, function(i) { %>
        <a class="fancy" rel="fancy" href="<%= i.path %>" title="<%= i.title %>">
            <img alt="<%= i.title %>" src="<%= i.thumbnail %>" />
        </a>
    <% }); %>
    <div class="pagination"></div>
</script>

<script src="assets/libs.js"></script>
<script src="assets/app.js"></script>
<script type="text/javascript">
    App.start();
    $(function() {
        $(".fancy").fancybox();
    });
</script>
</body>
</html>